<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="CCMEditor"
   name="CCMEditor Plug-in"
   version="1.0.0"
   provider-name=""
   class="ccm.CCMEditorPlugin">

   <runtime>
      <library name="ccm.jar">
         <export name="*"/>
      </library>
      <library name="org.eclipse.mddi.modelbus.adapter.jar">
         <export name="*"/>
      </library>
      <library name="activation.jar">
         <export name="*"/>
      </library>
      <library name="axis.jar">
         <export name="*"/>
      </library>
      <library name="commons-discovery-0.2.jar">
         <export name="*"/>
      </library>
      <library name="commons-httpclient-3.0-rc2.jar">
         <export name="*"/>
      </library>
      <library name="commons-logging-1.0.4.jar">
         <export name="*"/>
      </library>
      <library name="jaxrpc.jar">
         <export name="*"/>
      </library>
      <library name="log4j-1.2.8.jar">
         <export name="*"/>
      </library>
      <library name="org.eclipse.mddi.modelbus.description.jar">
         <export name="*"/>
      </library>
      <library name="RepositoryResult.jar">
         <export name="*"/>
      </library>
      <library name="saaj.jar">
         <export name="*"/>
      </library>
      <library name="simpleweb.jar">
         <export name="*"/>
      </library>
      <library name="wsdl4j-1.5.1.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime" export="false"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.emf.edit.ui"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="CCMIO"/>
      <import plugin="CCMModel"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CCM Editor"
            extensions="ccm"
            icon="bin/ccm/icons/qedoicon.ico"
            contributorClass="ccm.editors.MultiPageEditorContributor"
            class="ccm.editors.CCMEditor"
            id="ccm.editors.CCMEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="CCM Development"
            id="CCMEditor">
      </category>
      <wizard
            name="CCM Project"
            icon="bin/ccm/icons/qedoicon.ico"
            category="CCMEditor"
            class="ccm.wizards.SampleNewWizard"
            id="ccm.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            icon="bin/ccm/icons/qedoicon.ico"
            class="ccm.wizards.ImportWizard"
            name="Import CCM-Model from Repository"
            id="ccm.wizards.ImportWizard"/>
      <wizard
            icon="bin/ccm/icons/qedoicon.ico"
            class="ccm.wizards.IDLImportWizard"
            name="CCMEditor.IDLImportWizard"
            id="CCMEditor.IDLImportWizard"/>
      <wizard
            class="ccm.wizards.ModelBus.ImportModelBusWizard"
            icon="bin/ccm/icons/qedoicon.ico"
            id="ModelBusImport"
            name="ModelBusImport"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="CCMEditor"/>
      <view
            class="CCMEditor.views.SampleView"
            icon="bin/ccm/icons/qedoicon.ico"
            category="CCMEditor"
            name="Sample View"
            id="CCMEditor.views.SampleView"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="bin/ccm/icons/qedoicon.ico"
            class="ccm.wizards.ExportWizard"
            name="Export CCM-Model to Repository"
            id="ccm.wizards.ExportWizard"/>
   </extension>

</plugin>
